#app {
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.slide-fadein-left-enter-active,
.slide-fadein-left-leave-active,
.slide-fadein-right-enter-active,
.slide-fadein-right-leave-active {
  transition: opacity 0.3s, transform 0.4s, -webkit-transform 0.4s;
}

.slide-fadein-left-enter-from,
.slide-fadein-right-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

.slide-fadein-left-leave-to,
.slide-fadein-right-enter-from {
  transform: translateX(-20px);
  opacity: 0;
}

[data-theme='dark'] {
  &,
  * {
    color-scheme: dark !important;
  }
}

[data-theme='light'] {
  &,
  * {
    color-scheme: light !important;
  }

  body {
    background-color: #eff2f5;
  }
}
